.form-wrapper {
  padding-bottom: 1rem;
}

.table-wrapper {
  padding-bottom: 1rem;
}

#greeting {
  padding-left: 0.5rem;
}

#table1 th:nth-child(3) {
  display: none;
}
#table1 td:nth-child(3) {
  display: none;
}
#table1 th:nth-child(5) {
  display: none;
}
#table1 td:nth-child(5) {
  display: none;
}
#table1 .favorite {
  text-align: center;
}
#table1 .favorite .fas {
  color: red;
}
#table1 .favorite .far {
  color: gray;
}
#table1 .favorite .fa-heart {
  font-size: 18px;
}

canvas {
  min-height: 200px;
}

.recently_read #recently-read-book {
  margin-top: 2rem;
  padding-left: 0.2rem;
}

@media (max-width: 575.98px) {
  #table1 th, #table1 td {
    font-size: 12px;
  }
}

.needs-validation {
  max-width: 600px;
  margin: 0 auto;
}
.needs-validation .form-width {
  margin-top: 0.5rem;
}
.needs-validation .form-width #number_of_volumes {
  width: 100px;
}
.needs-validation .form-check {
  margin: 0.5rem;
}
.needs-validation #number_of_volumes {
  margin-right: 10px;
  margin-left: 10px;
}

#batch_change {
  margin-bottom: 10px;
}
#batch_change #batch_change_min {
  width: 60px;
  margin-left: 10px;
  text-align: center;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
#batch_change #batch_change_max {
  width: 60px;
  text-align: center;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
#batch_change p {
  margin: auto 0;
}
#batch_change #batch_change_button {
  margin-left: 10px;
}
#batch_change #batch_change_select {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.overflow-auto {
  max-height: 200px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 15px 15px 0px 15px;
}

@media (max-width: 575.98px) {
  #batch_change_button {
    margin-top: 0.5rem;
  }

  .overflow-auto {
    max-height: 100px;
  }
}

#myTable thead {
  background-color: black;
  color: #fff;
}
#myTable .favorite {
  text-align: center;
}
#myTable .favorite .fa-heart {
  color: red;
  font-size: 1.2rem;
}
#myTable .actions {
  text-align: center;
  display: inline-flexbox;
}

label:not(.form-check-label):not(.custom-file-label) {
  font-weight: normal;
}

@media (max-width: 575.98px) {
  #myTable th,
#myTable td {
    font-size: 12px;
  }
}

.img-screen {
  display: inline-block;
  max-width: 600px;
  margin: 0 auto;
  padding: 0;
}
.img-screen #form-padding_profimg {
  padding-left: 7.5px;
  padding-right: 7.5px;
}
.img-screen .current-profile-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}
.img-screen .current-profile-img img {
  width: 80%;
  height: 80%;
  max-width: 200px;
  max-height: 200px;
}
