.needs-validation {
  max-width: 600px;
  margin: 0 auto;
}
.needs-validation .form-width {
  margin-top: 0.5rem;
}
.needs-validation .form-width #number_of_volumes {
  width: 100px;
}

.actions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 0.6rem;
}

.left-screen {
  display: inline-block;
  max-width: 600px;
  margin: 0 auto;
  padding: 0;
}
.left-screen .current-profile-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}
.left-screen .current-profile-img img {
  width: 80%;
  height: 80%;
  max-width: 200px;
  max-height: 200px;
}
