.actions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    // margin: 0 .2rem;
}
#table2 {
    // 著者名カナの列を非表示
    // th:nth-child(2) {
    //     display: none;
    // }
    // td:nth-child(2) {
    //     display: none;
    // }
    // // 書籍名カナの列を非表示
    // th:nth-child(4) {
    //     display: none;
    // }
    // td:nth-child(4) {
    //     display: none;
    // }
}
@media (max-width: 575.98px) {
    #table2 {
        th, td {
            font-size: 12px;
        }
    }
}